Emulator Overlays/Playstation 1/previews/Thumbs.db
User Projects/ProtonicCobra/Overlay/Thumbs.db
User Projects/SlawSimulation/Thumbs.db
User Projects/ProtonicCobra/Final/Thumbs.db
User Projects/ProtonicCobra/Examples/Thumbs.db
User Projects/ProtonicCobra/Overlay Fullscreen/Thumbs.db
